name: go build and test

permissions:
  contents: read
  actions: write

on:
  push:
    branches:
      - "**"
    paths:
      - "**/*.go"
      - "**/*.mod"
      - "**/*.sum"
      - "**/Makefile"
      - "!**/*.md"
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs: {}

jobs:
  build:
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: skip duplicate actions
        uses: fkirc/skip-duplicate-actions@v5.3.1

      - name: set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          check-latest: true
          cache-dependency-path: go.mod

      - name: test application
        run: |
          make tidy
          make test

      - name: build application
        run: |
          make build
