name: go release

permissions:
  contents: write
  actions: write
  id-token: write

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs: {}

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          check-latest: true
          cache-dependency-path: go.mod
      - name: run goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          # either 'goreleaser' (default) or 'goreleaser-pro'
          distribution: goreleaser
          version: 2
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Your GoReleaser Pro key, if you are using the 'goreleaser-pro' distribution
          # GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
